*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.main{
    margin: auto;
    width: 3063px;
    height: 9522px;
    border: 2px solid;
    padding-top: 805px;
    padding-left: 195px;
}
.Portfolio{
    width: 1920px;
    height: 8368px;
    display: flex;
    flex-direction:column;
    /* border: 1px solid red; */
}
.header{
    width: 1920px;
    height: 96px;
    /* border: 2px solid green; */
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    column-gap: 400px;
}
.Logo{
    width: 208px;
    height: 56px;
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    column-gap : 15px;
}
.circle{
    width: 30px;
    height: 30px;
    border: 1px solid;
    border-radius: 50%;
    text-align: center;
}
.Nav_bar{
    display: flex;
    flex-direction:row;
    height: 48px;
    width: 722px;
    justify-content:space-between;
    align-items: center;
    gap: 10px;
    padding: 12px, 24px;
}
ul{
    list-style: none;
}
.Hero_Section{
    width: 1200px;
    height: 636px;
    /* border: 2px solid red; */
    /* background-color: aqua; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 40px;
}
.Discription{
   width: 648px;
    height: 400px;
    /* border: 4px solid pink; */
    display: flex;
    flex-direction: column;
    justify-content:start;
    align-items: center;
    row-gap: 50px;
}
.Projects{
    width: 648px;
    height: 336px;
    /* border: 4px solid red; */
      display: flex;
    flex-direction:column;
    gap: 8px;
 
}
.Project_1{
    width: 648px;
    height: 106px;
    /* border: 1px solid aqua; */
    display: flex;
    flex-direction:row;
    gap: 8px;
    justify-content: space-between;
    align-items: center;
}
.Discription{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;

}
button{
    background-color: #A53DFF;
    color: white;
    width: 126px;
    height: 48px;
}
.First{
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 72px;
    background-color: #A53DFF;
    text-align: center;
    border: 1px solid;
    color: white;
    border-radius: 10px;
}
.Right{
    width: 50%;
    /* border:  5px solid red; */
}
img{
    width: 50%;
    height: 50%;
}
.Full_Row{
    width: 1921px;
    height: 7288px;
    display: flex;flex-direction:row;
}
.Row_1{
    width: 1320px;
    height: 728px;
    /* border: 3px solid blue; */
    display: flex;
    flex-direction: row;
}
img{
    width: 100%;
    /* height: 50%; */
}


.Right_Side{
height: 50%;
width: 50%;
display: flex;
flex-direction: column;
justify-content: center;
row-gap: 50px;
}
#btn{
    width: 132px;
    height: 48px;  
}
input{
    width: 190px;
    height: 48px;
}
.second_row{
width: 1921px;
height: 7288px;
/* padding-top: 1080px; */
border-radius: 16px;
/* border: 1px solid rgb(214, 19, 51); */
}
.Row_two{
    width: 1320px;
    height: 728px;
    /* border: 3px solid #A53DFF; */
    padding: 112px;
    /* padding-left: 300px;
    border-radius: 16px; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 136px;
}
.Lift_img{
    width: 424px;
    height: 468px;
    /* border: 1px solid blue; */
    border-radius: 10px;
    padding-top: 112px;
    padding-left: 112px;
    position: relative;
}
img{
    width: 100%;
    position: relative;
}
.Right_intro{
    width: 536px;
    height: 348px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.CV{
    width: 338px;
    height: 48px;
    display: flex;
    flex-direction: row;
    gap: 16px;
    /* border: 2px solid #A53DFF; */
}
input{
    width: 190px;
    height: 48px;
    padding-top: 10px;
    padding-left: 5px;
    /* border: 1px solid #A53DFF; */
    text-align: center;
}
.Work_process{
    width: 1320px;
    height: 600px;
     /* border: 10px solid #6c0dd2; */
     display: flex;
     flex-direction: row;
     justify-content:space-between;
     align-items: center;
}
.lift-side{
    width: 530px;
    height: 240px;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
    /* border: 5px solid green; */
}
.right-side{
    width: 648px;
    height: 600px;
     /* border: 5px solid rgb(248, 6, 236); */
     display: flex;
     flex-direction: row;
}